
table {
  margin-left: 0.5%;
  width: 99%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
}

th {
  background-color: black;
  text-align: center;
  color: white;
}

td {
  text-align: center;
}

tr {
  color: #007A33;
}

tr:nth-child(even) {
  background-color: #007A33;
  color: white;
}

tr:hover {
  background-color: black;
}

p {
  margin-left: 0.5%;
  font-weight: bold;
  margin-top: 15px;
  font-size: large;
}

h1 {
  margin-left: 0.5%;
}



